<div class="browse-item column-third">
  <span class="language">Node</span>
  <h3>
    <a href="#">govuk_prototype_kit</a>
  </h3>
      
  <p>Create HTML prototypes for GOV.UK. Includes common templates and patterns.</p>

  <ul class="list font-xsmall publisher">
    <li>1.0.21 published 1 day ago by <a href="#">GDS</a></li>
  </ul>
</div>

<div class="browse-item column-third">
  <span class="language">Ruby</span>
  <h3>
    <a href="#">moj_scheduler</a>
  </h3>
      
  <p>Resolves complex scheduling conflicts for appointment booking systems</p>

  <ul class="list font-xsmall publisher">
    <li>2.6.12 published 21 days ago by <a href="#">MoJ</a></li>
  </ul>
</div>

<div class="browse-item column-third">
  <span class="language">HTML</span>
  <h3>
    <a href="#">govuk_country_selector</a>
  </h3>
      
  <p>Accessible country selector with type-ahead. Handles aliases and typos.</p>

  <ul class="list font-xsmall publisher">
    <li>1.2.65 published 4 days ago by <a href="#">GDS</a></li>
  </ul>
</div>

<div class="browse-item column-third">
  <span class="language">HTML</span>
  <h3>
    <a href="#">govuk_frontend</a>
  </h3>
      
  <p>Frontend assets for production-ready pages on GOV.UK.</p>

  <ul class="list font-xsmall publisher">
    <li>2.6.12 published 21 days ago by <a href="#">GDS</a></li>
  </ul>
</div>

<div class="browse-item column-third">
  <span class="language">Regex</span>
  <h3>
    <a href="#">form_validation_regex</a>
  </h3>
      
  <p>Regex library for validating common government data types</p>

  <ul class="list font-xsmall publisher">
    <li>2.6.12 published 21 days ago by <a href="#">DWP</a></li>
  </ul>
</div>
