{{ macro.dataBrowse({

  items: [
     {
      name:         "Food premises activity register",
      type:         "register",
      url:          "http://food-premises-activity.openregister.org/",
      registrar:    "Food Standards Agency",
      description:  "List of activities for food premises",
      records:      "26",
      updated:      "12 Jan 2016"
    },
    {
      name:         "Address register",
      type:         "register",
      url:          "http://address.openregister.org/",
      registrar:    "Office for National Statistics",
      description:  "Addresses in England and Wales",
      records:      "35,009,748",
      updated:      "21 Feb 2016"
    },
    {
      name:         "Social housing register",
      type:         "register",
      url:          "http://social-housing.openregister.org/",
      registrar:    "Homes and Communities Agency",
      description:  "Providers of social housing",
      records:      "1,780",
      updated:      "21 Feb 2016"
    }
  ]
        
})}}


