{{ macro.dataSearch({

  items: [
    {
      name:         "Schools register",
      type:         "register",
      url:          "",
      registrar:    "Department for Education",
      description:  "Educational establishments in England and Wales",
      records:      "12,462",
      updated:      "6 Nov 2015"
    },
    {
      name:         "Food ratings register",
      type:         "register",
      url:          "http://food-premises-rating.openregister.org/",
      registrar:    "Food Standards Agency",
      description:  "The register of hygiene inspection ratings for food premises",
      records:      "486,231",
      updated:      "6 Nov 2015"
    },
    {
      name:         "Food premises register",
      type:         "register",
      url:          "http://food-premises.openregister.org/",
      registrar:    "Food Standards Agency",
      description:  "Food premises in England and Wales",
      records:      "82,381",
      updated:      "12 Jan 2016"
    },
    {
      name:         "Food premises activity register",
      type:         "register",
      url:          "http://food-premises-activity.openregister.org/",
      registrar:    "Food Standards Agency",
      description:  "Standardised list of activities for food premises",
      records:      "26",
      updated:      "12 Jan 2016"
    },
    {
      name:         "Country register",
      type:         "register",
      url:          "http://country.openregister.org/",
      registrar:    "Foreign & Commonwealth Office",
      description:  "Register of country names",
      records:      "196",
      updated:      "15 Jan 2016"
    },
    {
      name:         "Address register",
      type:         "register",
      url:          "http://address.openregister.org/",
      registrar:    "Office for National Statistics",
      description:  "Register of addresses in England and Wales",
      records:      "35,009,748",
      updated:      "21 Feb 2016"
    },
    {
      name:         "Postcode register",
      type:         "register",
      url:          "http://postcode.openregister.org/",
      registrar:    "Office for National Statistics",
      description:  "Register of postcodes in England and Wales",
      records:      "3,132,116",
      updated:      "21 Feb 2016"
    },
    {
      name:         "Legal boundaries register",
      type:         "register",
      url:          "http://boundaries.openregister.org/",
      registrar:    "Office for National Statistics",
      description:  "Register of legal boundaries in England and Wales",
      records:      "45,925",
      updated:      "21 Feb 2016"
    },
    {
      name:         "Public amenities register",
      type:         "register",
      url:          "http://amenities.openregister.org/",
      registrar:    "Ministry of Justice",
      description:  "Register of courts and register offices in England and Wales",
      records:      "7,347",
      updated:      "21 Feb 2016"
    },
    {
      name:         "Social housing register",
      type:         "register",
      url:          "http://social-housing.openregister.org/",
      registrar:    "Homes and Communities Agency",
      description:  "Registered providers of social housing",
      records:      "1,780",
      updated:      "21 Feb 2016"
    },
    {
      name:         "Police force register",
      type:         "register",
      url:          "http://police-forces.openregister.org/",
      registrar:    "Home Office",
      description:  "Register of Police Forces in England and Wales",
      records:      "45",
      updated:      "21 Feb 2016"
    },
    {
      name:         "Industry register",
      type:         "register",
      url:          "http://industry.openregister.org/",
      registrar:    "Companies House",
      description:  "Register of standard economic activity codes",
      records:      "807",
      updated:      "21 Feb 2016"
    }
  ]
        
})}}


