{{ macro.dataBrowse({

  items: [
    {
      name:         "Country register",
      type:         "register",
      url:          "http://country.openregister.org/",
      registrar:    "Foreign &amp; Commonwealth Office",
      description:  "Country names",
      records:      "196",
      updated:      "15 Jan 2016"
    },
    {
      name:         "Address register",
      type:         "register",
      url:          "http://address.openregister.org/",
      registrar:    "Office for National Statistics",
      description:  "Addresses in England and Wales",
      records:      "35,009,748",
      updated:      "21 Feb 2016"
    },
    {
      name:         "Postcode register",
      type:         "register",
      url:          "http://postcode.openregister.org/",
      registrar:    "Office for National Statistics",
      description:  "Postcodes in England and Wales",
      records:      "3,132,116",
      updated:      "21 Feb 2016"
    }
  ]
        
})}}


