{{ macro.patternBrowse({

  items: [
    {
      name:         "Register a thing",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Licensing",
      url:          "/platform/patterns/licensing/",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Funding",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Exchange ownership",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Transfer responsibility",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Enforcement",
      developer:    "Government Digital Service",
      description:  ""
    }
  ]
        
})}}


