{{ macro.patternBrowse({

  items: [
    {
      name:         "Start page",
      url:          "/platform/patterns/start-page",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Question page",
      url:          "/platform/patterns/question-page",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Check your answers page",
      url:          "/platform/patterns/check-your-answers-page",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Confirmation page",
      url:          "/platform/patterns/confirmation-page",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Feedback page",
      url:          "/platform/patterns/feedback-page",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Reason page",
      url:          "/platform/patterns/reason-page",
      developer:    "Government Digital Service",
      description:  ""
    }
  ]
        
})}}


