{{ macro.patternGetStarted({

  items: [
    {
      name:         "Design principles",
      url:          "/platform/patterns/design-principles",
      description:  ""
    },
    {
      name:         "Start with needs",
      url:          "#",
      description:  ""
    },
    {
      name:         "Choosing a service pattern",
      url:          "/platform/patterns/choosing-service-pattern",
      description:  ""
    },
    {
      name:         "Visual style guide",
      url:          "/platform/patterns/visual-style-guide",
      description:  ""
    },
    {
      name:         "Content style guide",
      url:          "/platform/patterns/content-style-guide",
      description:  ""
    }
  ]
        
})}}


