{{ macro.patternBrowse({

  items: [
    {
      name:         "Names",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Dates",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Addresses",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "National Insurance Numbers",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Email Addresses",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Help text",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Usernames",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Passwords",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Email confirmation loops",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Progress indicators",
      developer:    "Government Digital Service",
      description:  ""
    }
  ]
        
})}}


