{{ macro.patternBrowse({

  items: [
    {
      name:         "Start page",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Question page",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Check your answers page",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Confirmation page",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Feedback page",
      developer:    "Government Digital Service",
      description:  ""
    },
    {
      name:         "Reason page",
      developer:    "Government Digital Service",
      description:  ""
    }
  ]
        
})}}


