{{ macro.patternBrowse({

  items: [
    {
      name:         "Names",
      url:          "/platform/patterns/names",
      description:  ""
    },
    {
      name:         "Dates",
      url:          "/platform/patterns/dates",
      description:  ""
    },
    {
      name:         "Tabs",
      url:          "/platform/patterns/tabs",
      description:  ""
    },
    {
      name:         "Addresses",
      url:          "/platform/patterns/addresses",
      description:  ""
    },
    {
      name:         "National Insurance Numbers",
      url:          "/platform/patterns/national-insurance-numbers",
      description:  ""
    },
    {
      name:         "Email Addresses",
      url:          "/platform/patterns/email-addresses",
      description:  ""
    },
    {
      name:         "Help text",
      url:          "/platform/patterns/help-text",
      description:  ""
    },
    {
      name:         "Usernames",
      url:          "/platform/patterns/usernames",
      description:  ""
    },
    {
      name:         "Passwords",
      url:          "/platform/patterns/passwords",
      description:  ""
    },
    {
      name:         "Email confirmation loops",
      url:          "/platform/patterns/email-confirmation-loops",
      description:  ""
    },
    {
      name:         "Progress indicators",
      url:          "/platform/patterns/progress-indicators",
      description:  ""
    }
  ]
        
})}}


