{{ macro.productBrowse({

  items: [
    {
      name:         "GOV.UK Publisher",
      url:          "http://publish.service.gov.uk/",
      developer:    "Government Digital Service",
      description:  "Publish information on GOV.UK",
      users:        "4"
    },
    {
      name:         "GOV.UK Blog",
      url:          "http://blog.service.gov.uk/",
      developer:    "Government Digital Service",
      description:  "Publish blogs on GOV.UK",
      users:        "4"
    },
    {
      name:         "GOV.UK Verify",
      url:          "http://verify.service.gov.uk/",
      developer:    "Government Digital Service",
      description:  "Check your users are who they say they are",
      users:        "35"
    },
    {
      name:         "GOV.UK Pay",
      url:          "http://pay.service.gov.uk/",
      developer:    "Government Digital Service",
      description:  "Take payments from your users with Visa, Mastercard and more",
      users:        "12"
    },
    {
      name:         "GOV.UK Notify",
      url:          "http://notify.service.gov.uk/",
      developer:    "Government Digital Service",
      description:  "Keep you users informed with emails, text message and by post",
      users:        "4"
    },
    {
      name:         "GOV.UK Chat",
      url:          "http://chat.service.gov.uk/",
      developer:    "Government Digital Service",
      description:  "Talk in real time with your users online",
      users:        "4"
    }
  ]
        
})}}


