<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/platform" id="proposition-name">{% if serviceName %} {{ serviceName }} {% endif %}</a>
      <!--
      <ul id="proposition-links">
        <li><a href="/platform">Home</a></li>
        <li><a href="/platform/about">About</a></li>
        <li><a href="/platform/blog">Blog</a></li>
        <li><a href="/platform/contact">Contact</a></li>
      </ul>
    -->
    </nav>
  </div>
</div>
