<div class="search-item">
  <span class="language">Node</span>
  <h3>
    <a href="#">govuk_prototype_kit</a>
  </h3>
      
  <p>Create HTML prototypes for GOV.UK. Includes common templates and patterns.</p>

  <ul class="list font-xsmall publisher">
    <li>v1.2 published 1 day ago by <a href="#">GDS</a></li>
  </ul>
</div>

<div class="search-item">
  <span class="language">HTML</span>
  <h3>
    <a href="#">govuk_country_selector</a>
  </h3>
      
  <p>Accessible country selector with type-ahead. Handles aliases and typos.</p>

  <ul class="list font-xsmall publisher">
    <li>v1.2.5 published 4 days ago by <a href="#">GDS</a></li>
  </ul>
</div>

<div class="search-item">
  <span class="language">HTML</span>
  <h3>
    <a href="#">govuk_frontend</a>
  </h3>
      
  <p>Frontend assets for production-ready pages on GOV.UK.</p>

  <ul class="list font-xsmall publisher">
    <li>v2.6.1 published 21 days ago by <a href="#">GDS</a></li>
  </ul>
</div>
