// GOV.UK front end toolkit dependencies
@import "colours";
@import "shims";
@import "measurements";
@import "typography";
@import "css3";
@import "url-helpers";
@import "grid_layout";

// Patterns
@import 'patterns/check-your-answers';
@import 'patterns/homepage-header';
@import 'patterns/search-filters';


a[href="#"]:visited{
  color: $link-colour;
}

.section-title{
  margin-top: 0
}
.section-description{
  margin-bottom: 0
}

.section-heading{
  @include bold-24;
  margin-top: $gutter;
  border-bottom: 1px solid $border-colour;
}

.browse-item{
  .heading-medium{
    margin-top: $gutter;
  }
}


.featured-item{

  .featured-item-image img{
    width: 100%;
  }
  .featured-item-description h3{
    margin-top: 15px
  }
}

hr{
    border: 5px solid #0b0c0c;
    border-width: 5px 0 0;
    height: 0;
    margin-top: 60px;
}

.stat-bar{
  margin-top: $gutter;
}

.stat{
  display: block;
  @include bold-36;
  //margin-top: 57px;
}

.column-quarter,
.column-one-quarter {
  @include grid-column(1/6);
}

.browse-items,
.search-items{

  .browse-item,
  .search-item{
    margin-top: $gutter;
    h3{
      @include bold-19();
      margin-top: 0;
      margin-bottom: 10px;
      a{
        text-decoration: none;
      }
    }
    .language{
      color: $secondary-text-colour;
      @include core-14;
      margin-top: 2px;
      float: right;
    }
    p{
      @include core-16; 
      margin: 0;
    }
    .publisher{
      color: $secondary-text-colour;
      //@include core-14;
      a{
        color: $secondary-text-colour;
        &:hover{
          color: $text-colour
        }
      }
    }
  }
}

.search-items .search-item{
  h3{
    @include bold-24;
  }
}

.example{
  @extend %contain-floats;
  border: 1px solid $border-colour;
  padding: $gutter $gutter 0;
  margin-top: 45px;
}

.code-examples{
  margin-bottom: 45px;
}

.code-tabs{
  @extend %contain-floats;
  border-right: 1px solid $border-colour;
  .tabs {
    li{
    float: left;
    padding: 15px 30px;
    color: $link-colour;
    text-decoration: underline;
      &.selected{
        background: #272822;
        color: white;
        text-decoration: none;
      }
    }
  }
}