// GOV.UK front end toolkit dependencies
@import "colours";
@import "shims";
@import "measurements";
@import "typography";
@import "css3";
@import "url-helpers";

// Patterns
@import 'patterns/check-your-answers';
@import 'patterns/homepage-header';


a[href="#"]:visited{
  color: $link-colour;
}


.section-heading{
  @include bold-24;
  margin-top: $gutter;
  border-bottom: 1px solid $border-colour;
}

.browse-item{
  .heading-medium{
    margin-top: $gutter;
  }
}


.featured-item{

  .featured-item-image img{
    width: 100%;
  }
  .featured-item-description h3{
    margin-top: 15px
  }
}

hr{
    border: 5px solid #0b0c0c;
    border-width: 5px 0 0;
    height: 0;
    margin-top: 60px;
}

.browse-link{
  float: right;
}