// CODE EXAMPLES


.example{
  @extend %contain-floats;
  border: 1px solid $border-colour;
  padding: $gutter $gutter 0;
  margin-top: 45px;
}

/*
.code-examples{
  margin-top: -1px;
  margin-bottom: 45px;
}

.code-tabs{
  @extend %contain-floats;
  border: 1px solid $border-colour;
  border-top: 0;
  .tabs {
    li{
    font-size: 16px;
    float: left;
    padding: 15px 30px;
      &.selected{
        background: #272822;
        outline: 1px solid #272822;
        a{
          color: white;
          text-decoration: none;      
        }
      }
    }
  }
}
*/