{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Platform
{% endblock %}

{% import "includes/macros.html" as macro %}

{% block content %}

<div class="full-width-container">

  <div class="grid-row">

    <div class="column-third">
        <h1>Products</h1>
    </div>

    <div class="column-two-thirds">

      <form id="header-search" class="site-search" action="/platform/code-search" method="get" role="search">
        <div class="header-search-content">
          <label for="search-main">Search for products</label>
          <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

  </div>

</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-half">

      <p class="lede section-description">
        Products for identity, payments, notifications, web chat and more
      </p> 

    </div>

    <div class="column-one-quarter">
      <span class="stat">6</span> products
    </div>
    <div class="column-one-quarter">
      <span class="stat">1</span> org
    </div>
    <div class="column-one-quarter">
      <span class="stat">76</span> services
    </div>
  </div>

  <hr>

  <div class="browse-items grid-row">
    {% include "includes/products-browse.html" %}
  </div>

  <hr>

  <h2 class="heading-medium">
    Need something else?
  </h2>

  <p>Find and buy more cloud-based products in the
    <a href="#" class="bold-small">Digital Marketplace</a>.
  </p>


</main>

{% endblock %}


