{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Platform
{% endblock %}

{% import "includes/macros.html" as macro %}

{% block content %}

<div class="full-width-container">

  <div class="grid-row">

    <div class="column-third">
        <h1>Code</h1>
    </div>

    <div class="column-two-thirds">

      <form id="header-search" class="site-search" action="/platform/code-search" method="get" role="search">
        <div class="header-search-content">
          <label for="search-main">Search for code</label>
          <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

  </div>

</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-half">

      <p class="lede section-description">
        <a href="/platform/code/search" class="bold-medium">Browse open source code and apps</a><br> written by government, for government.
      </p> 

    </div>

    <div class="column-one-quarter">
      <span class="stat">237</span> apps
    </div>
    <div class="column-one-quarter">
      <span class="stat">17</span> orgs
    </div>
    <div class="column-one-quarter">
      <span class="stat">3,498</span> downloads
    </div>
  </div>

  <hr>

  <h2 class="heading-medium">
    Most popular
  </h2>

  <div class="browse-items grid-row">
    {% include "includes/code-browse-popular.html" %}
  </div>

  <hr>

  <h2 class="heading-medium">
    Recently updated
  </h2>

  <div class="browse-items grid-row">
    {% include "includes/code-browse-recent.html" %}
  </div>

  <hr>

  <h2 class="heading-medium">
    Get involved
  </h2>


  <div class="grid-row">
    <div class="column-third">
      <a href="#">Submit your code</a>
    </div>
    <div class="column-third">
      <a href="#">Tutorials and training</a>
    </div>
    <div class="column-third">
      
    </div>
  </div>

</main>

{% endblock %}


