{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Platform
{% endblock %}

{% block content %}

<div class="full-width-container">

  <div class="grid-row">

    <div class="column-third">
        <h1>Platform</h1>
    </div>

    <div class="column-two-thirds">

      <form id="header-search" class="site-search" action="/search" method="get" role="search">
        <div class="header-search-content">
          <label for="search-main">Search GOV.UK Platform</label>
          <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

  </div>

</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">



    </div>
  </div>

</main>

{% endblock %}


