{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Platform
{% endblock %}

{% block content %}

<div class="full-width-container">

  <div class="grid-row">

    <div class="column-third">
        <h1><a href="/platform/code">Code</a></h1>
    </div>

    <div class="column-two-thirds">

      <form id="header-search" class="site-search" action="/search" method="get" role="search">
        <div class="header-search-content">
          <label for="search-main">Search for code</label>
          <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

  </div>

</div>

<main id="content" role="main">

  <div class="search-items grid-row">
    <div class="column-one-third">

      <p class="font-xsmall">Filter by:</p>
      <br>

      <fieldset class="search-filter">
        <legend>Language</legend>

        <label class="form-label">
          <input type="checkbox" />
          HTML
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Ruby
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Node
        </label>
        <label class="form-label">
          <input type="checkbox" />
          PHP
        </label>

        <div class="show-all">
          Show all
        </div>

      </fieldset>

      <fieldset class="search-filter">
        <legend>Developer</legend>

        <label class="form-label">
          <input type="checkbox" />
          GDS
        </label>
        <label class="form-label">
          <input type="checkbox" />
          MoJ
        </label>
        <label class="form-label">
          <input type="checkbox" />
          DWP
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Home Office
        </label>

        <div class="show-all">
          Show all
        </div>

      </fieldset>

      <fieldset class="search-filter">
        <legend>Tag</legend>

        <label class="form-label">
          <input type="checkbox" />
          API
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Mapping
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Email
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Security
        </label>

        <div class="show-all">
          Show all
        </div>

      </fieldset>


    </div>
    <div class="column-two-thirds">
      <p class="font-xsmall">237 results found</p>

      {% include "includes/search-item-code.html" %}
      {% include "includes/search-item-code.html" %}
      {% include "includes/search-item-code.html" %}
      {% include "includes/search-item-code.html" %}
      {% include "includes/search-item-code.html" %}
    </div>
  </div>

  



</main>

{% endblock %}


