{% extends "layout.html" %}

{% block page_title %}
  Resources for service teams
{% endblock %}

{% block content %}

<div class="full-width-container">

  <div class="grid-row">

    <div class="column-third">
      <h1>Resources for service teams</h1>
    </div>

    <div class="column-two-thirds">

      <form id="header-search" class="site-search" action="/search" method="get" role="search">
        <div class="header-search-content">
          <label for="search-main">Search resources</label>
          <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

  </div>

</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede section-description">
        Resources for teams building services <br>with government data.
        <a href="/platform/about" class="bold-medium">Find out more</a>
      </p> 

    </div>
  </div>

  <hr>

  <div class="grid-row">

    <div class="column-one-quarter">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="/platform/code" class="no-visited">Code</a>
        </h3>
        <p>Open source libraries, apps and components</p>
      </div>

    </div>

    <div class="column-one-quarter">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="/platform/data" class="no-visited">Data</a>
        </h3>
        <p>Government data sets, registers and APIs</p>
      </div>

    </div>

    <div class="column-one-quarter">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="/platform/design" class="no-visited">Design</a>
        </h3>

        <p>Style guides, patterns <br>and page templates</p>

      </div>

    </div>


    <div class="column-one-quarter">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="/platform/products" class="no-visited">Products</a>
        </h3>
        <p>Identity, payments, notifications and more</p>
      </div>

    </div>

  </div>

</main>

{% endblock %}


