{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="full-width-container">
  <h1>Platform</h1>
</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <p class="lede">
      GOV.UK Platform lets you build public services quickly and efficiently
      using modular components and data.
    </p> 


    </div>
  </div>

  <h2 class="section-heading">
    Resources
  </h2>

  <div class="grid-row">
    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="#">Code</a>
        </h3>
        <!--
        <p>Library of apps and components for building GOV.UK services</p>
      -->

        <p>Build your service using open source apps and components</p>
      </div>

    </div>

    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="#">Data</a>
        </h3>

        <p>Power your service with government data sets and registers</p>
      </div>

    </div>

    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="#">Patterns</a>
        </h3>

        <!--
        <p>Style guides, templates and patterns for content and design</p>
      -->

        <p>Design your service using style guides, templates and patterns</p>

      </div>

    </div>

  </div>


  <h2 class="section-heading">
    Services
  </h2>

  <div class="grid-row">
    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Verify</a>
        </h3>

        <p>Verify your user's identity</p>
      </div>

    </div>

    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Pay</a>
        </h3>

        <p>Collect payments from users</p>
      </div>

    </div>

    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Notify</a>
        </h3>

        <p>Send emails, SMS and letters</p>
      </div>

    </div>

  </div>

  <div class="grid-row">
    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Hosting</a>
        </h3>

        <p>Cloud hosting for government</p>
      </div>

    </div>

    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Chat</a>
        </h3>

        <p>Real time chat for users and agents</p>
      </div>

    </div>

    <div class="column-one-third">



    </div>

  </div>

  <h2 class="section-heading">
    People and teams
  </h2>

  <div class="grid-row">
    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="#">Service manual</a>
        </h3>

        <p>Learn how to deliver services that meet government standards</p>

      </div>

    </div>

    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="#">Digital marketplace</a>
        </h3>

        <p>Find and buy the people and technology you need</p>
      </div>

    </div>

    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="#">Communities</a>
        </h3>

        <p>Connect with other service teams around government</p>
      </div>

    </div>

  </div>





</main>

{% endblock %}


