{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Platform
{% endblock %}

{% block content %}

<div class="full-width-container">

  <div class="grid-row">

    <div class="column-third">
      <h1>Resources for service teams</h1>
    </div>

    <div class="column-two-thirds">

      <form id="header-search" class="site-search" action="/search" method="get" role="search">
        <div class="header-search-content">
          <label for="search-main">Search for resources</label>
          <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

  </div>

</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede section-description">
        A platform for building public services <br>quickly and efficiently.
        <a href="/platform/about" class="bold-medium">Find out more <span class="visually-hidden">about GOV.UK Platform</span></a>
      </p> 

    </div>
  </div>

  <hr>

  <div class="grid-row">

    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="/platform/standards" class="no-visited">Standards</a>
        </h3>
        <p>Follow government standards to deliver a digital by default service</p>
        <!--<p class="bold-xsmall">7 service assessments passed</p>-->
      </div>

    </div>

    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="/platform/code" class="no-visited">Code</a>
        </h3>
        <p>Build your service using open source libraries, apps and components</p>
        <!--<p class="bold-xsmall">213 apps</p>-->
      </div>

    </div>

    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="/platform/data" class="no-visited">Data</a>
        </h3>
        <p>Power your service with government data sets and registers</p>
        <!--<p class="bold-xsmall">136 registers</p>-->
      </div>

    </div>

    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="/platform/patterns" class="no-visited">Patterns</a>
        </h3>

        <p>Design your service with style guides, templates and patterns</p>
        <!--<p class="bold-xsmall">74 patterns</p>-->

      </div>

    </div>


    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="/platform/products" class="no-visited">Products</a>
        </h3>
        <p>Handle identity, payments, notifications, web chat and more</p>
        <!--<p class="bold-xsmall">8 products</p>-->
      </div>

    </div>


    <div class="column-one-third">

      <div class="browse-item">
        <h3 class="heading-medium">
          <a href="/platform/people" class="no-visited">People</a>
        </h3>
        <p>Build teams, develop skills and connect with communities</p>
        <!--<p class="bold-xsmall">35 people hired in last 7 days</p>-->
      </div>

    </div>

  </div>

  <hr>

  <h2 class="heading-medium">
    Featured product
  </h2>

  <div class="grid-row featured-item">

    <div class="column-one-half featured-item-image">

      <img src="/public/images/Verify_Pic.jpg" class="featured-image" />

    </div>

    <div class="column-one-half featured-item-description">

      <h3 class="heading-medium">
        GOV.UK Verify
      </h3>

      <p>GOV.UK Verify is the new way to prove who you are online, so people can use government services like viewing their driving licence or filing their tax.</p>

      <ul class="list">
        <li><strong class="bold-small">35</strong> services using this product</li>
        <li><strong class="bold-small">78,349</strong> identities verified in the last 7 days</li>
      </ul>

      <ul class="list">
        <li class="bold-small"><a href="#">Find out more about GOV.UK Verify</a></li>
        <li><a href="/platform/products">Browse all products</a></li>
      </ul>

    </div>

  </div>

  <hr>

  <h2 class="heading-medium">
    Featured pattern
  </h2>

  <div class="grid-row featured-item">

    <div class="column-one-half featured-item-image">

      <img src="/public/images/placeholder.png" class="featured-image" />

    </div>

    <div class="column-one-half featured-item-description">

      <h3 class="heading-medium">
        Grant a licence
      </h3>

      <p>Use the licence pattern where you want to be able to grant users permission to do something or own something.</p>

      <ul class="list">
        <li><strong class="bold-small">16</strong> services using this pattern</li>
        <li><strong class="bold-small">452</strong> licences granted in the last 7 days</li>
      </ul>


      <ul class="list">
        <li class="bold-small"><a href="#">Find out more about the Licence pattern</a></li>
        <li><a href="#">Browse all patterns</a></li>
      </ul>

    </div>

  </div>

    <hr>

  <h2 class="heading-medium">
    Featured code
  </h2>

  <div class="grid-row featured-item">

    <div class="column-one-half featured-item-image">

      <img src="/public/images/Prototype_Pic.png" class="featured-image" />

    </div>

    <div class="column-one-half featured-item-description">

      <h3 class="heading-medium">
        GOV.UK Prototype kit
      </h3>

      <p>Node - Express app for rapid HTML prototyping. Contains examples of all the common GOV.UK page templates, styles and patterns.</p>

      <ul class="list">
        <li><strong class="bold-small">45</strong> downloads in the last 7 days</li>
        <li>Updated 2 days ago</li>
      </ul>

      <ul class="list">
        <li class="bold-small"><a href="#">Find out more about the kit</a></li>
        <li><a href="#">Browse all code</a></li>
      </ul>

    </div>

  </div>

  <p><br><br><br>[ And so on... ]</p>

</main>

{% endblock %}


