{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Platform
{% endblock %}

{% import "includes/macros.html" as macro %}

{% block content %}

<div class="full-width-container">

  <div class="grid-row">

    <div class="column-third">
        <h1>Patterns</h1>
    </div>

    <div class="column-two-thirds">

      <form id="header-search" class="site-search" action="/platform/code-search" method="get" role="search">
        <div class="header-search-content">
          <label for="search-main">Search for patterns</label>
          <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

  </div>

</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-half">

      <p class="lede section-description">
        Design your service using style guides, templates and patterns
      </p> 

    </div>

    <div class="column-one-quarter">
      <span class="stat">183</span> registers
    </div>
    <div class="column-one-quarter">
      <span class="stat">12</span> orgs
    </div>
    <div class="column-one-quarter">
      <span class="stat">3,498</span> downloads
    </div>
  </div>

  <hr>

  <h2 class="heading-medium">
    Components
  </h2>

  <div class="browse-items grid-row">
    {% include "includes/pattern-browse.html" %}
  </div>

  <hr>

  <h2 class="heading-medium">
    Page templates
  </h2>

  <div class="browse-items grid-row">
    {% include "includes/pattern-page.html" %}
  </div>

  <hr>

  <h2 class="heading-medium">
    Get involved
  </h2>


  <div class="grid-row">
    <div class="column-third">
      <a href="#">Connect your data</a>
    </div>
    <div class="column-third">
      <a href="#">Tutorials and training</a>
    </div>
    <div class="column-third">
      
    </div>
  </div>

</main>

{% endblock %}


