{% extends "layout-pattern.html" %}

{% block pattern_content %}

<!--
<div class="tabs-multi-page">
  <h2 class="tab current">Guide</h2>
  <p class="tab"><a href="">Discuss</a></p>
</div>
-->

<h1 class="heading-large">
  Choosing a service pattern
</h1>

<div class="text">
  <p class="lede">Different services pattern meet different user and government needs.</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#register-a-thing">Register a thing</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#licensing">Licensing</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#funding">Funding</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#ownership-exchange">Ownership exchange</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#transfer-responsibility">Transfer responsibility</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#enforcement">Enforcement</a
    </h3>
  </div>

</div>


<!-- register a thing -->
<hr id="register-a-thing">

<h2 class="heading-medium">Register a thing</h3>

<div class="text">
  <p class="lede">Single record of an activity or thing which an individual or organisation is responsible for</p>
</div>

<div class="text">
  <p class="lede">Creates a single reference for a activiy or thing linked to a single individual or organisation accountable for it.</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Start with needs</a>
    </h3>
  </div>
</div>

<!-- licensing -->
<hr id="licensing">

<h2 class="heading-medium">Licensing</h3>

<div class="text">
  <p class="lede">Authorisations by government for an individual or organisation to do something (or not do something)</p>
</div>



<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Start with needs</a>
    </h3>
  </div>
</div>

<!-- funding -->
<hr id="funding">

<h2 class="heading-medium">Funding</h3>

<div class="text">
  <p class="lede">Find out how to do the thing you want to do</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Start with needs</a>
    </h3>
  </div>
</div>

<!-- ownership-exchange -->
<hr id="ownership-exchange">

<h2 class="heading-medium">Ownership exchange</h3>

<div class="text">
  <p class="lede">Find out how to do the thing you want to do</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Start with needs</a>
    </h3>
  </div>
</div>

<!-- tranfer responsibility -->
<hr id="transfer-responsibility">

<h2 class="heading-medium">Transfer responsibility</h3>

<div class="text">
  <p class="lede">Find out how to do the thing you want to do</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Start with needs</a>
    </h3>
  </div>
</div>

<!-- enforcement -->
<hr id="enforcement">

<h2 class="heading-medium">Enforcement</h3>

<div class="text">
  <p class="lede">Find out how to do the thing you want to do</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Start with needs</a>
    </h3>
  </div>
</div>

{% endblock %}
