{% extends "layout-pattern.html" %}

{% block pattern_content %}

<!--
<div class="tabs-multi-page">
  <h2 class="tab current">Guide</h2>
  <p class="tab"><a href="">Discuss</a></p>
</div>
-->

<h1 class="heading-large">
  Choosing a service pattern
</h1>

<div class="text">
  <p class="lede">Different services pattern meet different user and government needs.</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#register-a-thing">Register a thing</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#licensing">Licensing</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#funding">Funding</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#ownership-exchange">Ownership exchange</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#transfer-responsibility">Delegate responsibility</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#enforcement">Enforcement</a>
    </h3>
  </div>

</div>


<!-- register a thing -->
<hr id="register-a-thing">

<h2 class="heading-medium">Register a thing</h3>

<div class="text">
  <p class="lede">Single record of an activity or thing which an individual or organisation is responsible for.</p>
</div>

<div class="text">
  <p class="lede">Creates a single reference for a activiy or thing linked to a individual or organisation accountable for it.</p>
</div>

<!-- licensing -->
<hr id="licensing">

<h2 class="heading-medium">Licensing</h3>

<div class="text">
  <p class="lede">Authorisations by government for an individual or organisation to do something (or not do something).</p>
</div>

<div class="text">
  <p class="lede">A licence is a barrier or a checkpoint to making sure someone does the right thing.</p>
</div>

<!-- funding -->
<hr id="funding">

<h2 class="heading-medium">Funding</h3>

<div class="text">
  <p class="lede">Suporting research with potential benefits that are not commercial or not long term</p>
</div>

<div class="text">
  <p class="lede">Encourage research with long term benefits for society, but is too risky for private sector to back.</p>
</div>

<!-- ownership-exchange -->
<hr id="ownership-exchange">

<h2 class="heading-medium">Ownership exchange</h3>

<div class="text">
  <p class="lede">Transfer responsibility for a registered thing between an individual or organisation and another.</p>
</div>

<div class="text">
  <p class="lede">Creates a history of individuals and organisations accountable for a controlled thing and it's use.</p>
</div>

<!-- delegate responsibility -->
<hr id="transfer-responsibility">

<h2 class="heading-medium">Delegate responsibility</h3>

<div class="text">
  <p class="lede">Give permission to another person to carry out a activity on your behalf.</p>
</div>

<div class="text">
  <p class="lede">Allows professionals or others to make decisions for people, when they are unable or willing to themselves.</p>
</div>

<!-- enforcement -->
<hr id="enforcement">

<h2 class="heading-medium">Enforcement</h3>

<div class="text">
  <p class="lede">Targeted checks that someone is doing the right thing, in the agreed way.
  </p>
</div>

<div class="text">
  <p class="lede">Limit the risk and damage when someone knowingly does the wrong right thing. 
  </p>
</div>

{% endblock %}
