{% extends "layout-pattern.html" %}

{% block pattern_content %}

<!--
<div class="tabs-multi-page">
  <h2 class="tab current">Guide</h2>
  <p class="tab"><a href="">Discuss</a></p>
</div>
-->

<h1 class="heading-large">
  Choosing a service pattern
</h1>

<div class="text">
  <p class="lede">Different services pattern meet different user and government needs.</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#register-a-thing">Register a thing</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#licensing">Apply for permission</a>
    </h3>
  </div>

  <!--
  <div class="browse-item column-third">
    <h3>
      <a href="#tax">Pay to use a thing</a>
    </h3>
  </div>
  -->

  <div class="browse-item column-third">
    <h3>
      <a href="#funding">Apply for funding</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#ownership-exchange">Exchange ownership</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#transfer-responsibility">Delegate responsibility</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#enforcement">Check compliance</a>
    </h3>
  </div>

</div>


<!-- register a thing -->
<hr id="register-a-thing">

<h2 class="heading-medium"><a href="#">Register a thing</a></h3>

<div class="text">
  <p class="lede">Single record of an activity or thing which an individual or organisation is responsible for.</p>
</div>

<div class="text">
  <p class="lede">Creates a single reference for a activiy or thing linked to a individual or organisation accountable for it.</p>
</div>

<!-- examples -->
<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Register cattle</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Register patents</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Register firearms</a>
    </h3>
  </div>
</div>

<!-- licensing -->
<hr id="licensing">

<h2 class="heading-medium"><a href="#">Apply for permission</a></h3>

<div class="text">
  <p class="lede">Authorisations by government for an individual or organisation to do something (or not do something).</p>
</div>

<div class="text">
  <p class="lede">A licence is a barrier or a checkpoint to making sure someone does the right thing.</p>
</div>

<!-- examples -->
<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Apply for alcohol licence</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Apply for flood licence</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Apply to be a childminder</a>
    </h3>
  </div>
</div>

<!-- pay to use a thing 
<hr id="tax">

<h2 class="heading-medium">Pay to use a thing</h3>

<div class="text">
  <p class="lede">Pay for a fixed time to use a thing or do an activity involving a public asset.</p>
</div>

<div class="text">
  <p class="lede">Covers the cost of maintaining and improving public infrastructure for it's future use.</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Pay road tax</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">I want to fish</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Pay canal boat tax</a>
    </h3>
  </div>
</div>
-->

<!-- funding -->
<hr id="funding">

<h2 class="heading-medium"><a href="#" style="decoration: none;">Appy for funding</a></h3>

<div class="text">
  <p class="lede">Suporting activities with large potential, delayed or distributed benefits to society.</p>
</div>

<div class="text">
  <p class="lede">Encourage research with long term benefits for society, but is too risky for private sector to back.</p>
</div>

<!-- examples -->
<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Apply for research funding</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Apply for business funding</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Apply for flood defence funding</a>
    </h3>
  </div>
</div>

<!-- ownership-exchange -->
<hr id="ownership-exchange">

<h2 class="heading-medium"><a href="#">Exchange ownership</a></h3>

<div class="text">
  <p class="lede">Transfer responsibility for a registered thing between an individual or organisation and another.</p>
</div>

<div class="text">
  <p class="lede">Creates a history of individuals and organisations accountable for a controlled thing and it's use.</p>
</div>

<!-- examples -->
<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Sell a vehicle</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Buy a firearm</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Sell a canal boat</a>
    </h3>
  </div>
</div>

<!-- delegate responsibility -->
<hr id="transfer-responsibility">

<h2 class="heading-medium"><a href="#">Delegate responsibility</a></h3>

<div class="text">
  <p class="lede">Give permission to another person to carry out a activity on your behalf.</p>
</div>

<div class="text">
  <p class="lede">Allows professionals or others to make decisions for people, when they are unable or willing to themselves.</p>
</div>

<!-- examples -->
<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Do my taxes for me</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Lasting Power of Attorney</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Get a defence lawyer</a>
    </h3>
  </div>
</div>

<!-- enforcement -->
<hr id="enforcement">

<h2 class="heading-medium"><a href="#">Check compliance</a></h3>

<div class="text">
  <p class="lede">Targeted checks that someone is doing the right thing, in the agreed way.
  </p>
</div>

<div class="text">
  <p class="lede">Limit the risk and damage when someone knowingly does the wrong thing. 
  </p>
</div>

<!-- examples -->
<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Example 1</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Example 2</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Example 3</a>
    </h3>
  </div>
</div>

<!-- report a thing
<hr id="report-a-thing">

<h2 class="heading-medium"><a href="#">Report a thing</a></h3>

<div class="text">
  <p class="lede">Get government to check someone is doing the right thing, in the agreed way.
  </p>
</div>

<div class="text">
  <p class="lede">Limit the risk and damage when someone knowingly does the wrong thing. 
  </p>
</div>


<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Report a food premeises</a>
    </h3>

  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Report illegal fishing</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Report a estate agent</a>
    </h3>
  </div>
</div>
-->

<!-- submit record
<hr id="report-a-thing">

<h2 class="heading-medium"><a href="#">Submit records</a></h3>

<div class="text">
  <p class="lede">Get government to check someone is doing the right thing, in the agreed way.
  </p>
</div>

<div class="text">
  <p class="lede">Limit the risk and damage when someone knowingly does the wrong thing. 
  </p>
</div>


<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Submit fishing quotas</a>
    </h3>

  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Submit driving hours</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Submit animal movements</a>
    </h3>
  </div>
</div>
-->

{% endblock %}
