{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Platform
{% endblock %}

{% block head %}
{{ super() }}
<link href="/public/stylesheets/prism.css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="full-width-container">

  <div class="grid-row">

    <div class="column-third">
        <h1><a href="/platform/patterns">Patterns</a></h1>
    </div>

    <div class="column-two-thirds">

      <form id="header-search" class="site-search" action="/search" method="get" role="search">
        <div class="header-search-content">
          <label for="search-main">Search for patterns</label>
          <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

  </div>

</div>

<main id="content" role="main">

  <h1 class="heading-large">
    Date of birth
  </h1>

  <div class="text">
    <p>For capturing memorable dates like dates of birth, the simplest option is to provide text fields for users to type the date in.</p>
  </div>

  <div class="example">
  {% include "includes/patterns/date-of-birth.html" %}
  </div>

 <div class="tabs tabs-code">
    <h3>HTML</h3>
    <div>
      <pre>
        <code class="language-markup">
{% include "includes/patterns/date-of-birth.html" %}
        </code>
      </pre>
    </div>
    <h3>Sass</h3>
    <div>
      <pre>
        <code class="language-markup">
// Import the following file into your Sass
@import "elements/forms/form-date"; 
        </code>
      </pre>
    </div>
  </div>


  <br><br>

  <div class="text">
    <p>Calendar controls are not particularly useful for known dates and some users struggle with select boxes. We're currently recommending using three fields as it's easier to reliably validate than a single field.</p>

    <p>Don't automatically tab between fields, as this can be unexpected behaviour that clashes with normal keyboard controls, and confuses users.</p>

    <p>Tip: If you want to trigger the num-pad on iPhones, add a pattern attribute to the input element like this: pattern="[0-9]*"</p>
  </div>

</main>

{% endblock %}

{% block body_end %}
{{ super() }}
<script src="/public/javascripts/jquery.accTabs.js"></script>
<script>
  $(function() {
    $('.tabs-code').accTabs();
  });
</script>
{% endblock %}
