{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Platform
{% endblock %}

{% import "includes/macros.html" as macro %}

{% block content %}

<div class="full-width-container">

  <div class="grid-row">

    <div class="column-third">
        <h1><a href="/platform/data">Data</a></h1>
    </div>

    <div class="column-two-thirds">

      <form id="header-search" class="site-search" action="/platform/data/search" method="get" role="search">
        <div class="header-search-content">
          <label for="search-main">Search for data</label>
          <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

  </div>

</div>

<main id="content" role="main">

  <div class="search-items grid-row">
    <div class="column-one-third">

      <p class="font-xsmall">Filter by:</p>
      <br>

      <fieldset class="search-filter">
        <legend>Type</legend>

        <label class="form-label">
          <input type="checkbox" />
          Register
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Data set
        </label>

      </fieldset>

      <fieldset class="search-filter">
        <legend>Registrar</legend>

        <label class="form-label">
          <input type="checkbox" />
          Home Office
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Ministry of Justice
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Food Standards Agency
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Office for National Statistics
        </label>

        <div class="show-all">
          Show all
        </div>

      </fieldset>

      <fieldset class="search-filter">
        <legend>Tag</legend>

        <label class="form-label">
          <input type="checkbox" />
          Education
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Mapping
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Food
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Business
        </label>
        <label class="form-label">
          <input type="checkbox" />
          Health
        </label>

        <div class="show-all">
          Show all
        </div>

      </fieldset>


    </div>
    <div class="column-two-thirds">
      <p class="font-xsmall">237 results found</p>

      {% include "includes/data-search.html" %}
      {% include "includes/data-search.html" %}
      {% include "includes/data-search.html" %}
      {% include "includes/data-search.html" %}

    </div>
  </div>

  



</main>

{% endblock %}


