{% extends "layout.html" %}

{% block page_title %}
  Design
{% endblock %}

{% import "includes/macros.html" as macro %}

{% block content %}


<div class="full-width-container">

  <div class="grid-row">

    <div class="column-third">
        <h1>Style guide</h1>
    </div>

    <div class="column-two-thirds">

      <form id="header-search" class="site-search" action="/platform/patterns/search" method="get" role="search">
        <div class="header-search-content">
          <label for="search-main">Search design resources</label>
          <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

  </div>

</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-240">

      <h2 class="heading-small">Get started</h2>

      <ol class="font-xsmall list">
        <li><a href="#">Overview</a></li>
        <li><a href="#">Installing</a></li>
      </ol>

      <h2 class="heading-small">Elements</h2>

      <ol class="font-xsmall list">
        <li><a href="#">Layout</a></li>
        <li><a href="#">Font</a></li>
        <li><a href="#">Headings</a></li>
        <li><a href="#">Paragraph</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Lists</a></li>
        <li><a href="#">Accordions</a></li>
        <li><a href="#">Panels</a></li>
        <li><a href="#">Colour</a></li>
        <li><a href="#">Icons</a></li>
        <li><a href="#">Images</a></li>
        <li><a href="#">Tables</a></li>
        <li><a href="#">Data</a></li>
        <li><a href="#">Forms</a></li>
        <li><a href="#">Form labels</a></li>
        <li><a href="#">Text fields</a></li>
        <li><a href="#">Radio buttons</a></li>
        <li><a href="#">Checkboxes</a></li>
        <li><a href="#">Select boxes</a></li>
        <li><a href="#">Error messages</a></li>
        <li><a href="#">Alerts</a></li>
      </ol>

      <h2 class="heading-small">Components</h2>

      <ol class="font-xsmall list">
        <li><a href="#">Breadcrumbs</a></li>
        <li><a href="#">Tabs</a></li>
        <li><a href="#">Expanding text</a></li>
        <li><a href="#">Type-ahead</a></li>
        <li><a href="#">Country selector</a></li>
        <li><a href="#">Address lookup</a></li>
        <li><a href="#">Calendar control</a></li>
        <li><a href="#">Date-of-birth</a></li>
        <li><a href="#">Time period</a></li>
        <li><a href="#">Money</a></li>
        <li><a href="#">Telephone number</a></li>
        <li><a href="#">Email address</a></li>
        <li><a href="#">Credit cards</a></li>
        <li><a href="#">Username</a></li>
        <li><a href="#">Password</a></li>
        <li><a href="#">Data</a></li>
        <li><a href="#">Forms</a></li>
        <li><a href="#">Form labels</a></li>
        <li><a href="#">Add, edit, delete</a></li>
        <li><a href="#">Video player</a></li>
        <li><a href="#">File upload</a></li>
        <li><a href="#">File download</a></li>
        <li><a href="#">Page links</a></li>
        <li><a href="#">Search box</a></li>
        <li><a href="#">Search filters</a></li>
      </ol>

      <h2 class="heading-small">Pages</h2>

      <ol class="font-xsmall list">
        <li><a href="#">Blank page</a></li>
        <li><a href="#">Blank page - full width</a></li>
        <li><a href="#">Start page</a></li>
        <li><a href="#">Guide</a></li>
        <li><a href="#">Search results</a></li>
        <li><a href="#">Question page</a></li>
        <li><a href="#">Check your answers</a></li>
        <li><a href="#">Overview page</a></li>
        <li><a href="#">Confirmation page</a></li>
      </ol>


    </div>
    <div class="column-three-quarters">


<br>

<h2 class="heading-large">Get started</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. </p>

<p>Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. </p>

<p>Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna. </p>

<p>Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia sollicitudin massa. </p>

<p>Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium blandit orci. Ut eu diam at pede suscipit sodales. Aenean lectus elit, fermentum non, convallis id, sagittis at, neque. </p>


      

    </div>
  </div>

</main>

{% endblock %}


