{% extends "layout-pattern.html" %}

{% block pattern_content %}

<!--
<div class="tabs-multi-page">
  <h2 class="tab current">Guide</h2>
  <p class="tab"><a href="">Discuss</a></p>
</div>
-->

<h1 class="heading-large">
  Expiry dates
</h1>

<div class="grid-row">
  <div class="column-two-thirds">

    <p class="lede">
      How long should a licence last? Days, weeks, months, years? 
    </p>

    <p class="lede">
      These patterns are for deciding how long a licence lasts, before it expires or needs renewing.  
    </p>

  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-medium">
      Things to consider
    </h2>

    <p>
      These things should inform you're discovery:
    </p>

    <ul class="list list-bullet">
      <li>Time for atrributes to change. Aging for example</li>
      <li>How often rules, laws, legislation change</li>
      <li>Technology changes</li>
      <li>Informing users about future rule changes</li>
    </ul>


  </div>
</div>


<!--
<div class="example">
{% include "includes/patterns/date-of-birth.html" %}
</div>

<div class="tabs tabs-code">
  <h3>HTML</h3>
  <div>
    <pre>
      <code class="language-markup">
{% include "includes/patterns/date-of-birth.html" %}
      </code>
    </pre>
  </div>
  <h3>Sass</h3>
  <div>
    <pre>
      <code class="language-markup">
// Import the following file into your Sass
@import "elements/forms/form-date"; 
      </code>
    </pre>
  </div>
</div>


<div class="text">
  <p>Calendar controls are not particularly useful for known dates and some users struggle with select boxes. We recommend using three fields as it's easier to reliably validate than a single field.</p>

  <p>Don't automatically tab between fields, as this can be unexpected behaviour that clashes with normal keyboard controls, and confuses users.</p>

  <p>Tip: If you want to trigger the num-pad on iPhones, add a pattern attribute to the input element like this: pattern="[0-9]*"</p>
</div>
-->

{% endblock %}
