{% extends "layout-pattern.html" %}

{% block pattern_content %}

<!--
<div class="tabs-multi-page">
  <h2 class="tab current">Guide</h2>
  <p class="tab"><a href="">Discuss</a></p>
</div>
-->

<h1 class="heading-large">
  Licensing
</h1>

<div class="text">
  <p class="lede">Authorisations by government for an individual or organisation to do something (or not do something).</p>
</div>

<div class="text">
  <p class="lede">A licence is a barrier or a checkpoint to making sure someone does the right thing.</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#discovery">1. Discovery</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#routing">2. Routing</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#eligibility">3. Eligibility</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#suitability">4. Suitability</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#issuing">5. Issuing</a>
    </h3>
  </div>

</div>

<hr id="stats">

<h2 class="heading-medium">When to use this pattern</h3>

<div class="grid-row" class="padding-top: 100px;">
    <div class="column-two-thirds">

      <p class="lede section-description">
        Regulation is not by default licence service. There is guidance to help team's <a href="/platform/patterns/choosing-service-pattern">choosing a service pattern</a>
      </p> 

    </div>
</div>

<hr id="stats">

<h2 class="heading-medium">Evidence</h3>

<div class="grid-row" class="padding-top: 100px;">
    <div class="column-half">

      <p class="lede section-description">
        Like other patterns, licensing is iterated by using data and feedback from service teams
      </p> 

    </div>

    <div class="column-one-quarter">
      <span class="stat">5</span> <a href="#">case studies</a>
    </div>
    <div class="column-one-quarter">
      <span class="stat">91</span> <a href="#">services</a>
    </div>
  </div>

</div>

<!-- discovery -->
<hr id="discovery">

<h2 class="heading-medium">1. Discovery</h3>

<div class="text">
  <p class="lede">Find out how to do the thing you want to do</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Start with needs</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Beginning of a service</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Which users to assist</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="/platform/patterns/licensing/mapping-a-service">Map existing service</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Choosing the right verb</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Start pages</a>
    </h3>
  </div>

</div>

<!-- routing -->
<hr id="routing">

<h2 class="heading-medium">2. Routing</h3>

<div class="text">
  <p class="lede">Check what permission you need in order to do that thing</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="#">Making rules simpler</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Explaining rules</a>
    </h3>
  </div>

    <div class="browse-item column-third">
    <h3>
      <a href="/platform/patterns/licensing/phone-support">Phone supoort</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">One thing per page</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Ordering questions</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Licences-needed pages</a>
    </h3>
  </div>

</div>

<!-- eligibility -->
<hr id="eligibility">

<h2 class="heading-medium">3. Eligibility</h2>

<div class="text">
  <p class="lede">Automated checks that granting permission is possible.</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="/platform/patterns/licensing/what-decisions-to-automate">Automating decisions</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Use-my-data pages</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">GOV.UK Verify</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Open registers</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Private registers</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Storing private data</a>
    </h3>
  </div>

</div>

<!-- suitability -->
<hr id="suitability">

<h2 class="heading-medium">4. Suitability</h3>

<div class="text">
  <p class="lede">Human decisions made about a user's suitability for the licence.</p>
</div>

<div class="browse-items grid-row">

  <div class="browse-item column-third">
    <h3>
      <a href="local-decisions">In person decisions</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Medical checks</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Referees</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">GOV.UK Notify</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Appointment booking</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Test centres</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Recording inspections</a>
    </h3>
  </div>

</div>

<!-- issuing -->
<hr id="issuing">

<h2 class="heading-medium">5. Issuing</h3>

<div class="text">
  <p class="lede">Decision to grant or refuse an application for permission
</p>
</div>

<div class="browse-items grid-row">
    
  <div class="browse-item column-third">
    <h3>
      <a href="/platform/patterns/licensing/expiry">Expiry dates</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Application summaries</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Granting permission</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">GOV.UK Pay</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Start a register</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Digital proof</a>
    </h3>
  </div>

  <div class="browse-item column-third">
    <h3>
      <a href="#">Enforcement</a>
    </h3>
  </div>

</div>


{% endblock %}
