{% extends "layout-pattern.html" %}

{% block pattern_content %}

<!--
<div class="tabs-multi-page">
  <h2 class="tab current">Guide</h2>
  <p class="tab"><a href="">Discuss</a></p>
</div>
-->

<h1 class="heading-large">
  In person decisions 
</h1>

<div class="grid-row">
  <div class="column-two-thirds">

    <p class="lede">
      Some human decisions about a users suitability for a licence are only possible offline.  
    </p>

    <p class="lede">
      Activities like driving tests, home visits and site inspections need someone to be there in person. Being in-person makes it possible to make a expert judgement, on which granting a licence relies.

    <p class="lede">
      Although this type of activites are done locally, due to their physical nature, they should still be consistent to use and deliver. 
    </p>

    </div>

    <p class="lede">

    </p>

  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-medium">
      What decisions should be made in person 
    </h2>

    <p>
      Mapping a service is not a rule 
    </p>

    <p >
      A map is just a way to organise information a team has discovered about it's users and service.
    </p> 
    
    <p class="panel panel-border-wide"> 
      Only having performed a Discovery, should a team consider mapping how it's service currently works. 
    </p>

    <p>
      The activity of mapping a service can become a distraction from learning about your user and service. Only map the current service when:
    </p>

    <ul class="list list-bullet">
      <li>your <a href="#">users' needs</a> are known</li>
      <li>your <a href="#">service's needs</a> are known</li>        
      <li>deciding what and how to measure <a href="#">service performance</a></li>
      <li>you need data to show the impact of potential design decisions</li>
      
      <li>a single </li>
      <li>you are ready to share your understanding of the current service, before exploring how to design it.</li>
    </ul>


  </div>
</div>

<!--
<div class="example">
{% include "includes/patterns/date-of-birth.html" %}
</div>

<div class="tabs tabs-code">
  <h3>HTML</h3>
  <div>
    <pre>
      <code class="language-markup">
{% include "includes/patterns/date-of-birth.html" %}
      </code>
    </pre>
  </div>
  <h3>Sass</h3>
  <div>
    <pre>
      <code class="language-markup">
// Import the following file into your Sass
@import "elements/forms/form-date"; 
      </code>
    </pre>
  </div>
</div>


<div class="text">
  <p>Calendar controls are not particularly useful for known dates and some users struggle with select boxes. We recommend using three fields as it's easier to reliably validate than a single field.</p>

  <p>Don't automatically tab between fields, as this can be unexpected behaviour that clashes with normal keyboard controls, and confuses users.</p>

  <p>Tip: If you want to trigger the num-pad on iPhones, add a pattern attribute to the input element like this: pattern="[0-9]*"</p>
</div>
-->

{% endblock %}
