{% extends "layout-pattern.html" %}

{% block pattern_content %}

<!--
<div class="tabs-multi-page">
  <h2 class="tab current">Guide</h2>
  <p class="tab"><a href="">Discuss</a></p>
</div>
-->

<h1 class="heading-large">
  Map existing service 
</h1>

<div class="grid-row">
  <div class="column-two-thirds">

    <p class="lede">
      To transform a service, is it useful to know exactly what is being transformed. 
    </p>

    <p class="lede">
      When going from <a href="https://www.gov.uk/service-manual/phases/discovery.html">Discovery</a> to <a href="https://www.gov.uk/service-manual/phases/alpha.html">Alpha</a>, having a map of how a service currently works, helps to inform how that service should be designed.
    </p>

  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-medium">
      When to map a existing service 
    </h2>

    <p>
      Mapping a service is not a rule 
    </p>

    <p >
      A map is just a way to organise information a team has discovered about it's users and service.
    </p> 
    
    <p class="panel panel-border-wide"> 
      Only having performed a Discovery, should a team consider mapping how it's service currently works. 
    </p>

    <p>
      The activity of mapping a service can become a distraction from learning about your user and service. Only map the current service when:
    </p>

    <ul class="list list-bullet">
      <li>your <a href="#">users' needs</a> are known</li>
      <li>your <a href="#">service's needs</a> are known</li>        
      <li>deciding what and how to measure <a href="#">service performance</a></li>
      <li>you need data to show the impact of potential design decisions</li>
      <li>you are ready to share your understanding of the current service, before proceeding to explore design solutions</li>
    </ul>


  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-medium">
      What to map  
    </h2>

    <p>Having the right parts of service mapped, can help ensure decisions about the design of a service are as informed as possible.</p>

    <p>Your team should map:</p>

    <ul class="list list-bullet">
      <li>user needs</li>
      <li>The beginning, middle and end of the current service</li>
      <li>the people involved using and delivering the service</li>
      <li>each individual stage in using and delivering the service</li>
    </ul>

    <p>If you do make a map, work hard to keep it clear and simple. It can be tempting to map every type of thing included in a service. Maps with too many types of information can say so much, they say nothing.</p>

    <p>Your team can also map:</p>

    <ul class="list list-bullet">
      <li><a href="#">Information</a> needed to do each step</li>
      <li><a href="#">Actions</a> involved during each step</li>
      <li><a href="#">Channels</a> used during each step</li>
      <li><a href="#">Technology</a> for storing and sharing information for each step</li>
    </ul>

  </div>

</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-medium">
      How to map 
    </h2>

    <p>
      A map should be readable to anyone, even if they are not involved or familiar with your service.
    </p>

    <p>
      Using tried and tested formats for describing parts of a service, is a way of ensuring a service map is readable by others across government.
    </p>

    <p>Advice:</p>

    <ul class="list list-bullet">
      <li>Use a wall</li>
      <li>Put in a public space</li>
      <li>Invite others views of the map</li>
      <li>Iterate the map</li>
      <li>Aim for a single, agreed version of the map</li>
    </ul>

    <p>Formats:</p>

    <ul class="list list-bullet">
      <li></li>
      <li></li>
      <li></li>
      <li></li> 
    </ul>

  </div>
</div>

<!--
<div class="example">
{% include "includes/patterns/date-of-birth.html" %}
</div>

<div class="tabs tabs-code">
  <h3>HTML</h3>
  <div>
    <pre>
      <code class="language-markup">
{% include "includes/patterns/date-of-birth.html" %}
      </code>
    </pre>
  </div>
  <h3>Sass</h3>
  <div>
    <pre>
      <code class="language-markup">
// Import the following file into your Sass
@import "elements/forms/form-date"; 
      </code>
    </pre>
  </div>
</div>


<div class="text">
  <p>Calendar controls are not particularly useful for known dates and some users struggle with select boxes. We recommend using three fields as it's easier to reliably validate than a single field.</p>

  <p>Don't automatically tab between fields, as this can be unexpected behaviour that clashes with normal keyboard controls, and confuses users.</p>

  <p>Tip: If you want to trigger the num-pad on iPhones, add a pattern attribute to the input element like this: pattern="[0-9]*"</p>
</div>
-->

{% endblock %}
