{% extends "layout-pattern.html" %}

{% block pattern_content %}

<!--
<div class="tabs-multi-page">
  <h2 class="tab current">Guide</h2>
  <p class="tab"><a href="">Discuss</a></p>
</div>
-->

<h1 class="heading-large">
  Measuring a licence 
</h1>

<div class="grid-row">
  <div class="column-two-thirds">

    <p class="lede">
      Measuring how well the licensing pattern is working 
    </p>

  </div>
</div>

<hr>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-medium">
      1. time to get permission
    </h2>

    <p class="lede">
      Time from start page to getting proof you can do that thing. 
    </p>

  </div>
</div>

<hr>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-medium">
      2. ease to get permission
    </h2>

    <p class="lede">
      Number of steps, potential outcomes for a user to get permission 
    </p>

  </div>
</div>

<hr>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-medium">
      3. manual processing
    </h2>

    <p class="lede">
      time spent manually copying across systems
    </p>

  </div>
</div>

<hr>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-medium">
      4. unnecessary processing
    </h2>

    <p class="lede">
      % of time spent doing it
    </p>

  </div>
</div>

<hr>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-medium">
      5. user contact
    </h2>

    <p class="lede">
      Time of calls, % spent of different types of calls
    </p>

  </div>
</div>

<hr>

<div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-medium">
      6. casework
    </h2>

    <p class="lede">
      Time spent on 'user errors' 
    </p>

  </div>
</div>

<hr>

<h1 class="heading-large">
  Measure cost to build new service
</h1>

<div class="grid-row">
  <div class="column-two-thirds">

    <p class="lede">
      Measuring how well the licensing pattern is working 
    </p>

  </div>
</div>

<!--
<div class="example">
{% include "includes/patterns/date-of-birth.html" %}
</div>

<div class="tabs tabs-code">
  <h3>HTML</h3>
  <div>
    <pre>
      <code class="language-markup">
{% include "includes/patterns/date-of-birth.html" %}
      </code>
    </pre>
  </div>
  <h3>Sass</h3>
  <div>
    <pre>
      <code class="language-markup">
// Import the following file into your Sass
@import "elements/forms/form-date"; 
      </code>
    </pre>
  </div>
</div>


<div class="text">
  <p>Calendar controls are not particularly useful for known dates and some users struggle with select boxes. We recommend using three fields as it's easier to reliably validate than a single field.</p>

  <p>Don't automatically tab between fields, as this can be unexpected behaviour that clashes with normal keyboard controls, and confuses users.</p>

  <p>Tip: If you want to trigger the num-pad on iPhones, add a pattern attribute to the input element like this: pattern="[0-9]*"</p>
</div>
-->

{% endblock %}
