{% extends "layout-pattern.html" %}

{% block pattern_content %}

<h1 class="heading-large">
  Apply for a licence 
</h1>

<h2 class="heading-medium">
  Process flow example
</h2>

<div class="process-flow">
  <div class="row">
    <div class="step connector-right">
      <h3 class="step-title">Start</h3>
      <a href="" class="content govuk">
        <img src="/public/images/page-thumb-start.png" alt="Start page">
      </a>
    </div>
    <div class="step connector-right">
      <h3 class="step-title">Eligibility</h3>
      <a href="" class="content govuk">
        <img src="/public/images/page-thumb-question.png" alt="Question page">
      </a>
    </div>
    <div class="step connector-right-yes connector-bottom-no">
      <h3 class="step-title">&nbsp;</h3>
      <a href="" class="content decision">
        <p>Is the user eligible?</p>
      </a>
    </div>
    <div class="step connector-right">
      <h3 class="step-title">Question</h3>
      <a href="" class="content govuk">
        <img src="/public/images/page-thumb-question.png" alt="Question page">
      </a>
    </div>
    <div class="step connector-right">
      <h3 class="step-title">Question</h3>
      <a href="" class="content govuk">
        <img src="/public/images/page-thumb-question.png" alt="Question page">
      </a>
    </div>
    <div class="step connector-right connector-bottom">
      <h3 class="step-title">Question</h3>
      <a href="" class="content govuk">
        <img src="/public/images/page-thumb-question.png" alt="Question page">
      </a>
    </div>
    <div class="step connector-right">
      <h3 class="step-title">Question</h3>
      <a href="" class="content govuk">
        <p>You can put words in here too</p>
      </a>
    </div>
    <div class="step connector-right">
      <h3 class="step-title">Check answers</h3>
      <a href="" class="content govuk">
        <img src="/public/images/page-thumb-question.png" alt="Question page">
      </a>
    </div>
    <div class="step govuk">
      <h3 class="step-title">Confirmation</h3>
      <a href="" class="content govuk">
        <img src="/public/images/page-thumb-question.png" alt="Question page">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="step empty">&nbsp;</div>
    <div class="step empty">&nbsp;</div>
    <div class="step connector-right">
      <a href="" class="content govuk">
        <p>Content</p>
      </a>
      <h3 class="step-title">Step 2.1</h3>
    </div>
    <div class="step h-connector">
      <div class="connector-middle">&nbsp;</div>
    </div>
    <div class="step connector-right">
      <a href="" class="content govuk">
        <p>Content</p>
      </a>
      <h3 class="step-title">Step 2.2</h3>
    </div>
    <div class="step">
      <a href="" class="content govuk">
        <p>Content</p>
      </a>
      <h3 class="step-title">Step 2.3</h3>
    </div>
  </div>
</div>

{% endblock %}
