{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">GOV.UK Platform Prototypes</h1>

      <h3 class="heading-medium">
        <a href="platform/">Version 1</a>
      </h3>

      <h3 class="heading-medium">
        <a href="platform/index-2">Version 2</a>
      </h3>

    </div>
  </div>
</main>

{% endblock %}


