{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">GOV.UK Platform Prototypes</h1>

      <h3 class="heading-small">
        <a href="platform/">Home page</a>
        <p>Home page for GOV.UK Platform</p>
      </h3>

      <h3 class="heading-small">
        <a href="platform/code-search">Section page</a>
      </h3>
      <p>Section page for Code, showing most popular and recently updated items.</p>

      <h3 class="heading-small">
        <a href="platform/code-search">Search results page</a>
      </h3>
      <p>Search results page for the code section, filtered by 'GDS' as the developer.</p>



    </div>
  </div>
</main>

{% endblock %}


