{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Platform
{% endblock %}

{% block head %}
{{ super() }}
<link href="/public/stylesheets/prism.css" media="screen" rel="stylesheet">
{% endblock %}

{% block body_classes %}pattern-page{% endblock %}

{% block content %}

<div class="full-width-container">

  <div class="grid-row">

    <div class="column-third">
        <h1><a href="/platform/patterns">Patterns</a></h1>
    </div>

    <div class="column-two-thirds">

      <form id="header-search" class="site-search" action="/search" method="get" role="search">
        <div class="header-search-content">
          <label for="search-main">Search for patterns</label>
          <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

  </div>

  <div class="grid-row">

{% if discuss %}
    <div class="tabs-multi-page">
      <p class="tab"><a href="./">Guide</a></p>
      <h2 class="tab current">Discussion</h2>
    </div>
{% else %}
    <div class="tabs-multi-page">
      <h2 class="tab current">Guide</h2>
      <p class="tab"><a href="discuss">Discussion</a></p>
    </div>
{% endif %}

  </div>

</div>

<main id="content" role="main">

{% block pattern_content %}

{% endblock %}

</main>

{% endblock %}

{% block body_end %}
{{ super() }}
<script src="/public/javascripts/jquery.accTabs.js"></script>
<script>
  $(function() {
    $('.tabs-code').accTabs({ defaultTab: 100 });
  });
</script>
{% endblock %}

